@font-face {
  font-family: 'JsAppFont';
  src:  url('fonts/JsAppFont.eot?pmpqd9');
  src:  url('fonts/JsAppFont.eot?pmpqd9#iefix') format('embedded-opentype'),
    url('fonts/JsAppFont.ttf?pmpqd9') format('truetype'),
    url('fonts/JsAppFont.woff?pmpqd9') format('woff'),
    url('fonts/JsAppFont.svg?pmpqd9#JsAppFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.jspp-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'JsAppFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.js-abacus:before {
  content: "\e900";
}
.js-add-user:before {
  content: "\e901";
}
.js-agenda:before {
  content: "\e902";
}
.js-alarm:before {
  content: "\e903";
}
.js-alarm-off:before {
  content: "\e904";
}
.js-align:before {
  content: "\e905";
}
.js-align-1:before {
  content: "\e906";
}
.js-align-2:before {
  content: "\e907";
}
.js-align-3:before {
  content: "\e908";
}
.js-arrow:before {
  content: "\e909";
}
.js-arrow-1:before {
  content: "\e90a";
}
.js-arrow-2:before {
  content: "\e90b";
}
.js-arrow-3:before {
  content: "\e90c";
}
.js-arrows:before {
  content: "\e90d";
}
.js-arrows-1:before {
  content: "\e90e";
}
.js-arrows-2:before {
  content: "\e90f";
}
.js-award:before {
  content: "\e910";
}
.js-battery:before {
  content: "\e911";
}
.js-battery-1:before {
  content: "\e912";
}
.js-battery-2:before {
  content: "\e913";
}
.js-battery-charge:before {
  content: "\e914";
}
.js-biliard:before {
  content: "\e915";
}
.js-bowling:before {
  content: "\e916";
}
.js-box:before {
  content: "\e917";
}
.js-box-1:before {
  content: "\e918";
}
.js-buttons:before {
  content: "\e919";
}
.js-calculator:before {
  content: "\e91a";
}
.js-calculator-1:before {
  content: "\e91b";
}
.js-calendar:before {
  content: "\e91c";
}
.js-calendar-1:before {
  content: "\e91d";
}
.js-calendar-2:before {
  content: "\e91e";
}
.js-camera:before {
  content: "\e91f";
}
.js-camera-1:before {
  content: "\e920";
}
.js-camera-2:before {
  content: "\e921";
}
.js-charged-phone:before {
  content: "\e922";
}
.js-charger:before {
  content: "\e923";
}
.js-charger-1:before {
  content: "\e924";
}
.js-charger-2:before {
  content: "\e925";
}
.js-chat:before {
  content: "\e926";
}
.js-chat-1:before {
  content: "\e927";
}
.js-chat-2:before {
  content: "\e928";
}
.js-chat-3:before {
  content: "\e929";
}
.js-check:before {
  content: "\e92a";
}
.js-check-box:before {
  content: "\e92b";
}
.js-clip:before {
  content: "\e92c";
}
.js-clock:before {
  content: "\e92d";
}
.js-close:before {
  content: "\e92e";
}
.js-cloud:before {
  content: "\e92f";
}
.js-cloud-1:before {
  content: "\e930";
}
.js-clouds:before {
  content: "\e931";
}
.js-cloudy:before {
  content: "\e932";
}
.js-code:before {
  content: "\e933";
}
.js-compass:before {
  content: "\e934";
}
.js-computer:before {
  content: "\e935";
}
.js-computer-1:before {
  content: "\e936";
}
.js-computer-2:before {
  content: "\e937";
}
.js-computer-3:before {
  content: "\e938";
}
.js-computer-4:before {
  content: "\e939";
}
.js-copyright:before {
  content: "\e93a";
}
.js-credit-card:before {
  content: "\e93b";
}
.js-dice:before {
  content: "\e93c";
}
.js-direction:before {
  content: "\e93d";
}
.js-direction-1:before {
  content: "\e93e";
}
.js-direction-2:before {
  content: "\e93f";
}
.js-directions:before {
  content: "\e940";
}
.js-directions-1:before {
  content: "\e941";
}
.js-directions-2:before {
  content: "\e942";
}
.js-directions-3:before {
  content: "\e943";
}
.js-directions-4:before {
  content: "\e944";
}
.js-disc:before {
  content: "\e945";
}
.js-dollar:before {
  content: "\e946";
}
.js-download:before {
  content: "\e947";
}
.js-download-1:before {
  content: "\e948";
}
.js-download-2:before {
  content: "\e949";
}
.js-download-3:before {
  content: "\e94a";
}
.js-download-file:before {
  content: "\e94b";
}
.js-euro:before {
  content: "\e94c";
}
.js-expand:before {
  content: "\e94d";
}
.js-fast-forward:before {
  content: "\e94e";
}
.js-file:before {
  content: "\e94f";
}
.js-file-1:before {
  content: "\e950";
}
.js-file-2:before {
  content: "\e951";
}
.js-file-3:before {
  content: "\e952";
}
.js-file-4:before {
  content: "\e953";
}
.js-file-5:before {
  content: "\e954";
}
.js-file-6:before {
  content: "\e955";
}
.js-file-7:before {
  content: "\e956";
}
.js-file-8:before {
  content: "\e957";
}
.js-file-9:before {
  content: "\e958";
}
.js-file-10:before {
  content: "\e959";
}
.js-file-11:before {
  content: "\e95a";
}
.js-files:before {
  content: "\e95b";
}
.js-film:before {
  content: "\e95c";
}
.js-flag:before {
  content: "\e95d";
}
.js-folder:before {
  content: "\e95e";
}
.js-folder-1:before {
  content: "\e95f";
}
.js-game-console:before {
  content: "\e960";
}
.js-gamepad:before {
  content: "\e961";
}
.js-garbage:before {
  content: "\e962";
}
.js-glasses:before {
  content: "\e963";
}
.js-growth:before {
  content: "\e964";
}
.js-hand:before {
  content: "\e965";
}
.js-headphones:before {
  content: "\e966";
}
.js-headphones-1:before {
  content: "\e967";
}
.js-headphones-2:before {
  content: "\e968";
}
.js-heart:before {
  content: "\e969";
}
.js-heart-1:before {
  content: "\e96a";
}
.js-heart-2:before {
  content: "\e96b";
}
.js-home:before {
  content: "\e96c";
}
.js-id-card:before {
  content: "\e96d";
}
.js-id-card-1:before {
  content: "\e96e";
}
.js-info:before {
  content: "\e96f";
}
.js-ipod:before {
  content: "\e970";
}
.js-joystick:before {
  content: "\e971";
}
.js-keyboard:before {
  content: "\e972";
}
.js-keyboard-1:before {
  content: "\e973";
}
.js-light-bulb:before {
  content: "\e974";
}
.js-location:before {
  content: "\e975";
}
.js-lock:before {
  content: "\e976";
}
.js-low-battery:before {
  content: "\e977";
}
.js-luminosity:before {
  content: "\e978";
}
.js-luminosity-1:before {
  content: "\e979";
}
.js-luminosity-2:before {
  content: "\e97a";
}
.js-magnifyer-glass:before {
  content: "\e97b";
}
.js-mail:before {
  content: "\e97c";
}
.js-mail-1:before {
  content: "\e97d";
}
.js-mail-box:before {
  content: "\e97e";
}
.js-map:before {
  content: "\e97f";
}
.js-menu:before {
  content: "\e980";
}
.js-menu-1:before {
  content: "\e981";
}
.js-menu-2:before {
  content: "\e982";
}
.js-menu-3:before {
  content: "\e983";
}
.js-microphone:before {
  content: "\e984";
}
.js-microphone-1 .path1:before {
  content: "\e985";
  color: rgb(0, 0, 0);
}
.js-microphone-1 .path2:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.js-microphone-1 .path3:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(0, 0, 1);
}
.js-microphone-1 .path4:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.js-microphone-1 .path5:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.js-microphone-2:before {
  content: "\e98a";
}
.js-minus:before {
  content: "\e98b";
}
.js-money:before {
  content: "\e98c";
}
.js-money-1:before {
  content: "\e98d";
}
.js-money-2:before {
  content: "\e98e";
}
.js-money-exchange:before {
  content: "\e98f";
}
.js-mouse:before {
  content: "\e990";
}
.js-mouse-1:before {
  content: "\e991";
}
.js-musical-note:before {
  content: "\e992";
}
.js-musical-note-1:before {
  content: "\e993";
}
.js-musical-note-2:before {
  content: "\e994";
}
.js-music-buttons:before {
  content: "\e995";
}
.js-no-phone:before {
  content: "\e996";
}
.js-pac-man:before {
  content: "\e997";
}
.js-pac-man-1:before {
  content: "\e998";
}
.js-pause:before {
  content: "\e999";
}
.js-phone:before {
  content: "\e99a";
}
.js-phone-1:before {
  content: "\e99b";
}
.js-phone-2:before {
  content: "\e99c";
}
.js-phone-3:before {
  content: "\e99d";
}
.js-phone-4:before {
  content: "\e99e";
}
.js-phone-5 .path1:before {
  content: "\e99f";
  color: rgb(255, 255, 255);
}
.js-phone-5 .path2:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.js-phone-5 .path3:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.js-phone-book:before {
  content: "\e9a2";
}
.js-phone-book-1:before {
  content: "\e9a3";
}
.js-phone-call:before {
  content: "\e9a4";
}
.js-phone-chat:before {
  content: "\e9a5";
}
.js-photo:before {
  content: "\e9a6";
}
.js-photo-1:before {
  content: "\e9a7";
}
.js-photo-camera:before {
  content: "\e9a8";
}
.js-pie-chart:before {
  content: "\e9a9";
}
.js-pie-chart-1:before {
  content: "\e9aa";
}
.js-pin:before {
  content: "\e9ab";
}
.js-play:before {
  content: "\e9ac";
}
.js-play-1:before {
  content: "\e9ad";
}
.js-player:before {
  content: "\e9ae";
}
.js-plug-in:before {
  content: "\e9af";
}
.js-plus .path1:before {
  content: "\e9b0";
  color: rgb(0, 0, 0);
}
.js-plus .path2:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.js-pound:before {
  content: "\e9b2";
}
.js-premium:before {
  content: "\e9b3";
}
.js-print:before {
  content: "\e9b4";
}
.js-psp:before {
  content: "\e9b5";
}
.js-quotation-mark:before {
  content: "\e9b6";
}
.js-quotation-mark-1:before {
  content: "\e9b7";
}
.js-radio:before {
  content: "\e9b8";
}
.js-rain:before {
  content: "\e9b9";
}
.js-rocket:before {
  content: "\e9ba";
}
.js-sad:before {
  content: "\e9bb";
}
.js-save:before {
  content: "\e9bc";
}
.js-settings:before {
  content: "\e9bd";
}
.js-settings-1:before {
  content: "\e9be";
}
.js-settings-2:before {
  content: "\e9bf";
}
.js-share:before {
  content: "\e9c0";
}
.js-shield:before {
  content: "\e9c1";
}
.js-shield-1:before {
  content: "\e9c2";
}
.js-shopping-basket:before {
  content: "\e9c3";
}
.js-shopping-cart:before {
  content: "\e9c4";
}
.js-shopping-cart-1:before {
  content: "\e9c5";
}
.js-shopping-cart-2:before {
  content: "\e9c6";
}
.js-shopping-cart-3:before {
  content: "\e9c7";
}
.js-shut-down:before {
  content: "\e9c8";
}
.js-signal:before {
  content: "\e9c9";
}
.js-signal-1:before {
  content: "\e9ca";
}
.js-smartphone:before {
  content: "\e9cb";
}
.js-smartphone-1:before {
  content: "\e9cc";
}
.js-smartphone-2:before {
  content: "\e9cd";
}
.js-smartphone-3:before {
  content: "\e9ce";
}
.js-smeily:before {
  content: "\e9cf";
}
.js-smiley:before {
  content: "\e9d0";
}
.js-snowing:before {
  content: "\e9d1";
}
.js-sound:before {
  content: "\e9d2";
}
.js-sound-off:before {
  content: "\e9d3";
}
.js-speaker:before {
  content: "\e9d4";
}
.js-speaker-1:before {
  content: "\e9d5";
}
.js-spyglass:before {
  content: "\e9d6";
}
.js-squares:before {
  content: "\e9d7";
}
.js-stand:before {
  content: "\e9d8";
}
.js-star:before {
  content: "\e9d9";
}
.js-statistics:before {
  content: "\e9da";
}
.js-statistics-1:before {
  content: "\e9db";
}
.js-stop:before {
  content: "\e9dc";
}
.js-storm:before {
  content: "\e9dd";
}
.js-sun:before {
  content: "\e9de";
}
.js-tablet:before {
  content: "\e9df";
}
.js-tag:before {
  content: "\e9e0";
}
.js-target:before {
  content: "\e9e1";
}
.js-target-1:before {
  content: "\e9e2";
}
.js-thermometer:before {
  content: "\e9e3";
}
.js-thermometer-1:before {
  content: "\e9e4";
}
.js-thunder:before {
  content: "\e9e5";
}
.js-thunder-1:before {
  content: "\e9e6";
}
.js-tie:before {
  content: "\e9e7";
}
.js-time:before {
  content: "\e9e8";
}
.js-timer:before {
  content: "\e9e9";
}
.js-tools:before {
  content: "\e9ea";
}
.js-tools-1:before {
  content: "\e9eb";
}
.js-umbrella:before {
  content: "\e9ec";
}
.js-unlocked:before {
  content: "\e9ed";
}
.js-upload:before {
  content: "\e9ee";
}
.js-upload-1:before {
  content: "\e9ef";
}
.js-user:before {
  content: "\e9f0";
}
.js-user-1:before {
  content: "\e9f1";
}
.js-users:before {
  content: "\e9f2";
}
.js-video-camera:before {
  content: "\e9f3";
}
.js-video-camera-1:before {
  content: "\e9f4";
}
.js-vision:before {
  content: "\e9f5";
}
.js-vision-off:before {
  content: "\e9f6";
}
.js-volume:before {
  content: "\e9f7";
}
.js-wallet:before {
  content: "\e9f8";
}
.js-warning:before {
  content: "\e9f9";
}
.js-warning-1:before {
  content: "\e9fa";
}
.js-watch:before {
  content: "\e9fb";
}
.js-watch-1:before {
  content: "\e9fc";
}
.js-web:before {
  content: "\e9fd";
}
.js-zoom-in:before {
  content: "\e9fe";
}
.js-zoom-out:before {
  content: "\e9ff";
}
.js-abacus2:before {
  content: "\ea00";
}
.js-account-balance:before {
  content: "\ea01";
}
.js-accounting:before {
  content: "\ea02";
}
.js-add-to-cart:before {
  content: "\ea03";
}
.js-analytic-report:before {
  content: "\ea04";
}
.js-bank:before {
  content: "\ea05";
}
.js-bank-building:before {
  content: "\ea06";
}
.js-bulleted-list:before {
  content: "\ea07";
}
.js-calculator-2:before {
  content: "\ea08";
}
.js-calculator-3:before {
  content: "\ea09";
}
.js-check2:before {
  content: "\ea0a";
}
.js-clipboard:before {
  content: "\ea0b";
}
.js-company:before {
  content: "\ea0c";
}
.js-credit-cards-accepted:before {
  content: "\ea0d";
}
.js-dollar-coins:before {
  content: "\ea0e";
}
.js-employee-going-to-work:before {
  content: "\ea0f";
}
.js-factory:before {
  content: "\ea10";
}
.js-factory-stock-house:before {
  content: "\ea11";
}
.js-finances:before {
  content: "\ea12";
}
.js-full-items-inside-a-shopping-bag:before {
  content: "\ea13";
}
.js-hand-finger-pointing-one-item-of-a-list-on-a-clipboard-outline:before {
  content: "\ea14";
}
.js-kilogram:before {
  content: "\ea15";
}
.js-list:before {
  content: "\ea16";
}
.js-list-1:before {
  content: "\ea17";
}
.js-list-on-clipboard:before {
  content: "\ea18";
}
.js-list-paper-hand-drawn-symbol:before {
  content: "\ea19";
}
.js-manager:before {
  content: "\ea1a";
}
.js-man-with-company:before {
  content: "\ea1b";
}
.js-medical-notes-symbol-of-a-list-paper-on-a-clipboard:before {
  content: "\ea1c";
}
.js-money2:before {
  content: "\ea1d";
}
.js-money-bills:before {
  content: "\ea1e";
}
.js-one-weight:before {
  content: "\ea1f";
}
.js-people-searcher:before {
  content: "\ea20";
}
.js-purchase-books:before {
  content: "\ea21";
}
.js-reporting:before {
  content: "\ea22";
}
.js-scale:before {
  content: "\ea23";
}
.js-seo-report:before {
  content: "\ea24";
}
.js-shop:before {
  content: "\ea25";
}
.js-shopping-basket2:before {
  content: "\ea26";
}
.js-shopping-list:before {
  content: "\ea27";
}
.js-stack-of-dollars-on-two-hands:before {
  content: "\ea28";
}
.js-verified-commercial-list:before {
  content: "\ea29";
}
.js-vintage-scale:before {
  content: "\ea2a";
}
.js-warehouse:before {
  content: "\ea2b";
}
.js-warehouse-1:before {
  content: "\ea2c";
}
.js-warehouse-2:before {
  content: "\ea2d";
}
.js-warehouse-3:before {
  content: "\ea2e";
}
.js-warehouse-with-boxes:before {
  content: "\ea2f";
}
.js-work:before {
  content: "\ea30";
}

