@{
    ViewBag.Title = "IAMS Login";
}
<link href="~/Content/css/app-login.min.css" rel="stylesheet" />
<script src="~/Content/js/JS_LoginController.es5.min.js"></script>
<div id="Login" class='_container' ng-controller="LoginController">   
    

    <div class="outer">

        <div class="inner">

            <div class="container" style="display:inline-table">
                
                <img class="applogo" src="~/App_Content/Image/logo.png" />

                 <h2><span class="FontInSys"></span> Insys Accounting Management System</h2>
                    <div class="form-container">
                        <div dx-form="FormOptions"></div>

                        <div dx-button="buttonLogin"></div>
                    </div>


            </div>
            
            

        </div>

    </div>

    <div class="bottom-section">
        <h4>Intellismart Technology Inc. 2016</h4>
    </div>

    
    <div class="upper-section">
        <h4>v1.0</h4>
    </div>

</div>