#JSWebApp .Customer_DetailView.js-detailview-container .dx-layout-manager .dx-tabpanel .dx-multiview-item-content {
  background-color: #fff;
}
#JSWebApp .Customer_DetailView.js-detailview-container .tab_General .dx-multiview-item-content {
  padding: 10px 150px 20px 15px;
}
#JSWebApp .Opportunity_DetailView .EquipmentTab {
  padding-right: 10px;
}
#JSWebApp .BOMTab,
#JSWebApp .ServiceTab,
#JSWebApp .ConditionTab,
#JSWebApp .PaymentInfoTab,
#JSWebApp .ProposalTab {
  padding-left: 15px;
  padding-right: 15px;
}
#JSWebApp .SalesEndorsement_DetailView .AttachmentTab {
  padding-left: 20px;
  padding-right: 20px;
}
#JSWebApp .model-comment-window .dx-popup-title.dx-toolbar {
  background-color: green;
  color: #fff;
}
#JSWebApp .model-comment-window .dx-toolbar-label .dx-toolbar-item-content > div::before {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  /*font-size: 12px;*/
  text-rendering: auto;
  line-height: inherit;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\F17C";
  font-size: 16px;
  margin-right: 5px;
}
#JSWebApp .model-comment-window .dx-closebutton {
  color: #fff;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row.OverAged td,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row.OverAged td {
  background-color: #ffcdcd;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption {
  font-size: 12px!important;
  color: #000;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus)::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus)::before {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: 12px;
  text-rendering: auto;
  line-height: inherit;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.AuditType,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.AuditType,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).AuditType,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).AuditType {
  font-weight: bold;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.AuditType::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.AuditType::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).AuditType::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).AuditType::before {
  content: "\F3ED";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.AuditType.Approved,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.AuditType.Approved,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).AuditType.Approved,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).AuditType.Approved,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.AuditType.Added,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.AuditType.Added,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).AuditType.Added,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).AuditType.Added {
  color: forestgreen;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.AuditType.Modified,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.AuditType.Modified,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).AuditType.Modified,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).AuditType.Modified {
  color: cornflowerblue;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.AuditType.Cancelled,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.AuditType.Cancelled,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).AuditType.Cancelled,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).AuditType.Cancelled,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.AuditType.Deleted,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.AuditType.Deleted,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).AuditType.Deleted,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).AuditType.Deleted {
  color: crimson;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.AuditType.Viewed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.AuditType.Viewed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).AuditType.Viewed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).AuditType.Viewed {
  color: darkorange;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DiaryType,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DiaryType,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DiaryType,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DiaryType {
  font-weight: bold;
  color: #5c765f;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DiaryType.PhoneCall,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DiaryType.PhoneCall,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DiaryType.PhoneCall,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DiaryType.PhoneCall {
  color: #ffa700;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DiaryType.PhoneCall::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DiaryType.PhoneCall::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DiaryType.PhoneCall::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DiaryType.PhoneCall::before {
  content: "\F3F2";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DiaryType.Meeting,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DiaryType.Meeting,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DiaryType.Meeting,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DiaryType.Meeting {
  color: #f68141;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DiaryType.Meeting::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DiaryType.Meeting::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DiaryType.Meeting::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DiaryType.Meeting::before {
  content: "\F00E";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DiaryType.Email,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DiaryType.Email,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DiaryType.Email,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DiaryType.Email {
  color: #f46331;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DiaryType.Email::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DiaryType.Email::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DiaryType.Email::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DiaryType.Email::before {
  content: "\F1EE";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus {
  font-weight: bold;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus::before {
  content: "\F12F";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Canvassed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Canvassed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Canvassed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Canvassed {
  color: #013500;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Canvassed::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Canvassed::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Canvassed::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Canvassed::before {
  content: "\F3EB";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.PartiallyPaid,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.PartiallyPaid,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.PartiallyPaid,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.PartiallyPaid {
  color: darkorange;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.PartiallyPaid::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.PartiallyPaid::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.PartiallyPaid::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.PartiallyPaid::before {
  content: "\F0C1";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Voided,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Voided,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Voided,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Voided,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Bounced,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Bounced,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Bounced,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Bounced,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Denied,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Denied,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Denied,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Denied,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Cancelled,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Cancelled,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Cancelled,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Cancelled {
  color: #a00000;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Voided::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Voided::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Voided::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Voided::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Bounced::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Bounced::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Bounced::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Bounced::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Denied::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Denied::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Denied::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Denied::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Cancelled::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Cancelled::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Cancelled::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Cancelled::before {
  content: "\F159";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Filed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Filed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Filed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Filed {
  color: #05345d;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Filed::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Filed::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Filed::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Filed::before {
  content: "\F6FE";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Purchased,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Purchased,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Purchased,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Purchased {
  color: seagreen;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Purchased::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Purchased::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Purchased::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Purchased::before {
  content: "\F14C";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Cleared,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Cleared,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Cleared,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Cleared,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Posted,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Posted,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Posted,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Posted,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Approved,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Approved,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Approved,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Approved {
  color: #008111;
  /*text-decoration:underline!important;*/
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Cleared::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Cleared::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Cleared::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Cleared::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Posted::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Posted::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Posted::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Posted::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Approved::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Approved::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Approved::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Approved::before {
  content: "\F133";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Done,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Done,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Done,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Done,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Paid,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Paid,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Paid,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Paid {
  color: forestgreen;
  font-size: 14px;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Done::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Done::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Done::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Done::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Paid::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Paid::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Paid::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Paid::before {
  content: "\F5E1";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Liquidated,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Liquidated,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Liquidated,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Liquidated {
  color: #3d3d3d;
  font-size: 14px;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Liquidated::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Liquidated::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Liquidated::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Liquidated::before {
  content: "\F207";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Released,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Released,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Released,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Released {
  color: #005bff;
  font-size: 14px;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.FilingStatus.Released::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.FilingStatus.Released::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).FilingStatus.Released::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).FilingStatus.Released::before {
  content: "\F207";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.UnitPrice,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.UnitPrice,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).UnitPrice,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).UnitPrice {
  background-color: #ffdede;
  color: #000!important;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.LineTotal,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.LineTotal,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).LineTotal,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).LineTotal,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.TotalAmount,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.TotalAmount,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).TotalAmount,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).TotalAmount {
  font-weight: bold;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DocStatus,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DocStatus,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DocStatus,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DocStatus {
  font-weight: normal;
  font-size: 10px;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DocStatus:before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DocStatus:before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DocStatus:before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DocStatus:before {
  content: "\F4F9";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DocStatus.FullyReturned,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DocStatus.FullyReturned,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DocStatus.FullyReturned,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DocStatus.FullyReturned,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DocStatus.FullyServed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DocStatus.FullyServed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DocStatus.FullyServed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DocStatus.FullyServed {
  color: #024202;
  font-weight: bolder;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DocStatus.FullyReturned:before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DocStatus.FullyReturned:before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DocStatus.FullyReturned:before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DocStatus.FullyReturned:before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DocStatus.FullyServed:before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DocStatus.FullyServed:before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DocStatus.FullyServed:before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DocStatus.FullyServed:before {
  content: "\F135";
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DocStatus.PartiallyReturned,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DocStatus.PartiallyReturned,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DocStatus.PartiallyReturned,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DocStatus.PartiallyReturned,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DocStatus.PartiallyServed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DocStatus.PartiallyServed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DocStatus.PartiallyServed,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DocStatus.PartiallyServed {
  color: #978001;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.DocStatus.Pending,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.DocStatus.Pending,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).DocStatus.Pending,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).DocStatus.Pending {
  color: #666;
  font-weight: bold;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.ID_BusinessPartner,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.ID_BusinessPartner,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).ID_BusinessPartner,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).ID_BusinessPartner {
  font-weight: bold;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.OppStage,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.OppStage,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).OppStage,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).OppStage {
  font-size: 11px;
  font-weight: bold;
  color: #5c765f;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.OppStage.Won,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.OppStage.Won,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).OppStage.Won,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).OppStage.Won {
  font-size: 12px;
  color: #008111;
  font-weight: bolder;
  text-decoration: underline!important;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.OppStage.Won::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.OppStage.Won::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).OppStage.Won::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).OppStage.Won::before {
  content: "\F4CE";
  color: #c6a800;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.OppAging,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.OppAging,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).OppAging,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).OppAging {
  font-weight: bolder;
  color: red;
  font-size: 14px;
}
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row .js-group-caption.OppAging::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row .js-group-caption.OppAging::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-group-row td:not(.JsCellFocus).OppAging::before,
#JSWebApp .dx-datagrid .dx-datagrid-rowsview .dx-data-row td:not(.JsCellFocus).OppAging::before {
  content: "\F6C3";
  font-size: 7px;
}
#JSWebApp .TrackerType {
  font-weight: bold;
}
#JSWebApp .TrackerType.Bugs {
  color: #ff0000;
}
#JSWebApp .TrackerType.Development {
  color: #06004f;
}
#JSWebApp .TrackerType.Modification {
  color: #c6a800;
}
#JSWebApp .TrackerType.Done {
  color: #024202;
}
#JSWebApp .dx-scheduler-appointment .schedule-item {
  display: table;
  height: 100%;
}
#JSWebApp .dx-scheduler-appointment .schedule-item .customer {
  font-weight: bold;
}
#JSWebApp .dx-scheduler-appointment .schedule-item .event {
  padding: 2px;
}
#JSWebApp .dx-scheduler-appointment .schedule-item .event,
#JSWebApp .dx-scheduler-appointment .schedule-item .customer {
  display: table-cell;
  vertical-align: middle;
}
#JSWebApp .js-dropdown-appointment {
  width: 220px!important;
  position: relative;
}
#JSWebApp .js-dropdown-appointment .customer,
#JSWebApp .js-dropdown-appointment .event {
  font-size: 14px;
}
#JSWebApp .js-dropdown-appointment .customer {
  font-weight: bold;
}
#JSWebApp .js-dropdown-appointment .status {
  font-size: 10px;
  color: #8a8a8a;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: underline;
}
#JSWebApp .DocFilingStatus {
  color: #fff;
  opacity: 0.80;
  position: absolute;
  z-index: 100;
  right: 0px;
  padding: 5px 10px 5px 10px;
  font-size: 29px;
  margin-top: 2px;
  margin-right: 2px;
  border-radius: 25px;
  background-color: #fff;
  display: none;
  min-width: 150px;
  text-align: center;
}
#JSWebApp .DocFilingStatus.Filed {
  color: #000;
  border: solid 3px #000;
  display: inline-block;
}
#JSWebApp .DocFilingStatus.Approved {
  color: #008111;
  border: solid 3px #008111;
  display: inline-block;
}
#JSWebApp .DocFilingStatus.Cancelled {
  color: #ff0000;
  border: solid 3px #ff0000;
  display: inline-block;
}